<div
  class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-primary duration-300 w-full rounded-md flex justify-between items-center bg-primary"
>
  <p class="p-3 m-2 text-xs text-white font-normal text-left">
    old tax regime
    <br />
    <span class="text-lg mt-2 text-white font-bold">
      {{ options?.oldTax?.totalTax ? options?.oldTax?.totalTax : "-------" }}
    </span>
    <br />
    Monthly
    <br />
    <span class="text-lg mt-2 text-white font-bold">
      {{
        options?.oldTax?.monthlyTax ? options?.oldTax?.monthlyTax : "-------"
      }}
    </span>
  </p>
  <p class="p-3 m-2 text-xs text-white font-normal text-left">
    declarations
    <br />
    <span class="text-lg mt-2 text-white font-medium"> 1 </span>
    <br />
    Definitions
    <br />
    <span class="text-lg mt-2 text-white font-bold"> 10 </span>
  </p>
</div>
<hr class="mt-2 mb-2 w-10/12 m-auto border-dashed border-gray-300 border-1.5" />
<div class="w-full rounded-md flex justify-between items-center bg-gray-100">
  <p class="p-3 m-2 text-xs text-black font-normal text-left">
    new tax regime
    <br />
    <span class="text-lg mt-2 text-black font-bold">
      {{ options?.newTax?.totalTax ? options?.newTax?.totalTax : "-------" }}
    </span>
  </p>
  <p class="p-3 m-2 text-xs text-black font-normal text-left">
    declarations
    <br />
    <span class="text-lg mt-2 text-black font-bold">
      {{
        options?.newTax?.monthlyTax ? options?.newTax?.monthlyTax : "-------"
      }}
    </span>
  </p>
</div>
